<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - Airseat Dashboard Admin
    </title>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/admin-style.css">
</head>

<body>
    <div class="login-container">

        <% if(message && message !="" ) { %>
            <div class="alert alert-custom alert-<%= alertType %>-custom text-center" role="alert">
                <%= message %>
            </div>
            <% } %>

                <h3 class="text-center mb-3">Airseat Dashboard Admin</h3>

                <form action="<%= process.env.BASE_URL %>/admin/auth/login" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-custom-primary">Login</button>
                    </div>
                </form>
    </div>

    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>