<%- include('../head.ejs') %>
    <!-- Dont delete it -->
    <div class="row m-0 p-0">
        <div class="col m-0 p-0 sidebar-inner">
            <p>AIRLINE</p>
            <ul class="sidebar-inner-item">
                <li class="active">
                    <a href="">List Airports</a>
                </li>

            </ul>
        </div>
        <div class="col container-content">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="#">Airport</a></li>
                    <li class="breadcrumb-item"><a href="/admin/airport/list">List Airports</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Airport</li>
                </ol>
            </nav>
            <!-- Dont delete it -->


            <!-- Konten dibawah -->

            <div class="row">
                <div class="col my-auto">
                    <h3 class="page-title">Add New Airport</h3>
                </div>
                <div class="col text-end">
                </div>
            </div>
            <div class="container-fluid container-form">
                <form action="<%= process.env.BASE_URL %>/admin/airport/add" method="post"
                    enctype="multipart/form-data">
                    <div class="row row-form">
                        <div class="col-lg-2 my-auto">
                            <label for="airport_name">Airport Name <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-4 ">
                            <input class="form-control form-custom" type="text" name="airport_name"
                                placeholder="Yogyakarta International Airport" id="airport_name" required>
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-lg-2">
                            <label for="airport_city">Airport City <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-4 ">
                            <input class="form-control form-custom" type="text" name="airport_city"
                                placeholder="Yogyakarta" id="airport_city" required>
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-lg-2">
                            <label for="airport_city_code">Airport City Code <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-4 ">
                            <input class="form-control form-custom" type="text" name="airport_city_code"
                                placeholder="YIA" id="airport_code" required>
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-lg-2 ">
                            <label for="airport_picture">Airport Picture <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-4 ">
                            <input name="airport_picture" class="form-control form-file" type="file"
                                id="airport_picture" required>
                            <small class="form-detail">File size max. 2MB</small>
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-lg-2">
                            <label for="airport_continent">Airport Continent <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-4 ">
                            <select class="form-select" name="airport_continent" id="airport_continent" required>
                                <option>-</option>
                                <option value="asia">Asia</option>
                                <option value="europe">Europe</option>
                                <option value="america">America</option>
                                <option value="africa">Africa</option>
                                <option value="australia">Australia</option>
                            </select>

                        </div>
                    </div>


            </div>

            <div class="container-fluid">
                <div class="row button-group ">
                    <a href="/admin/airport/list" class="btn btn-outline-custom btn-cancel w-auto">Cancel</a>
                    <button class="btn btn-custom-primary w-auto" onclick="isLoading()">Save</button>
                    <div class="spinner-border shadow loading mx-2" id="loading" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                </div>
                </form>
            </div>


            <script src="/assets/js/script.js"></script>

            <%- include('../footer.ejs') %>