<!DOCTYPE html>
<html lang="en">


<body style="margin:0; padding:0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f4f4f4; padding: 20px;">
        <tr>
            <td>
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                    style="background-color: #ffffff; padding: 20px; border: 1px solid #dddddd;">
                    <tr>
                        <td style="text-align: center; padding: 20px 0;">
                            <h1 style="margin: 0; color:black;">Airseat</h1>

                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px; text-align: center; background-color: #164765; color: #ffffff;">
                            <h1 style="margin: 0;">Reset Password</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px;">
                            <p style="margin: 0; font-size: 16px; line-height: 1.5; color: #333333;">
                                Dear [Name],
                            </p>
                            <p style="margin: 16px 0 0 0; font-size: 16px; line-height: 1.5; color: #333333;">
                                Thank you for registering with Airseat. To activate your account, please use the
                                following One-Time
                                Password (OTP) code:
                            </p>
                            <p style="margin-top: 30px; text-align: center;"><b>Your OTP :</b></p>
                            <p
                                style="margin: 0px auto 30px auto; background-color: #164765; text-align: center;  max-width: 200px; font-size: 16px; line-height: 1.5; color: white; padding: 20px;">
                                <b>
                                    <%= token %>
                                </b>
                            </p>
                            <p style="margin: 0 0 0 0; font-size: 16px; line-height: 1.5; color: #333333;">
                                This OTP code is valid for 1 hour. If this OTP code expires, you can request a new OTP
                                through the
                                activation page.
                                <br>
                                Thank you for your attention.
                                <br>
                                <br>
                                Best regards,
                                <br>
                                <br>
                                <br>
                                Airseat
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 20px; text-align: center; background-color: #f4f4f4; color: #777777;">
                            <p style="margin: 0; font-size: 12px;">&copy; 2024 Airseat. All rights reserved.</p>
                            <p style="margin: 10px 0 0 0; font-size: 12px;">Airseat Email System</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>